*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button1{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.button1:hover{
    background-color: #cc0000;
}