.footer {
    padding: 60px 40px;
    background-color: #ffffff;
    border-top: 1px solid #eee;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}

.footer-brand-section {
    flex: 1;
    max-width: 300px;
}

.brand-desc {
    color: #777777;
    margin-top: 20px;
    line-height: 1.6;
}

.footer-links-group {
    flex: 2;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-column h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
}

.footer-column a, .footer-column p {
    color: #777777;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.footer-column a:hover {
    color: #ff1a1a;
    transform: translateX(5px);
}

.footer-bottom {
    border-top: #eee 1px solid;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer-bottom p {
    font-size: 13px;
    color: #999;
}

/* Responsive Tablet & Mobile */
@media (max-width: 968px) {
    .footer-top {
        flex-direction: column;
    }

    .footer-links-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .footer-brand-section {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .footer{
        padding-bottom: 40px;
    }
    .footer-links-group {
        grid-template-columns: 1fr;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}